# Configurations for a monrepo: 
# https://pnpm.io/npmrc#link-workspace-packages
link-workspace-packages=true

# Configurations for pnpm deploy/containerization in a monorepo:
# https://pnpm.io/cli/deploy
# https://pnpm.io/docker#example-2-build-multiple-docker-images-in-a-monorepo

# https://pnpm.io/npmrc#sync-injected-deps-after-scripts
sync-injected-deps-after-scripts[]=build

# https://pnpm.io/npmrc#inject-workspace-packages
inject-workspace-packages=true